<app-navbar></app-navbar>
<ng-container *ngIf="movies$ | async as movies; else loading">
  <app-banner
    [title]="movies.banner[0].name"
    [description]="movies.banner[0].overview"
    [image]="movies.banner[0].backdrop_path"
  ></app-banner>

  <app-dialog></app-dialog>
  <div class="content">
    <ng-container *ngFor="let movie of movies.rest; index as i">
      <app-carousel [movies]="movie" [title]="titles[i]"></app-carousel>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>