
@import '../../../styles/shared/auth';

.form {
    &--control {
      margin: 1em 0;
      @extend .animation;
      input {
        @extend .input;
      }
      .error-message {
        animation: slideDown .3s ease-in-out;
        font-size: 14px;
        color: orange;
      }
    }
    &--button {
      @extend .btn;
      @extend .animation;
      &.submit {
        &:hover {
          background-color: #be0711;
        }
      }
      &.google {
        background-color: #1356c7;
        color: #f2f2f2;
        border: 1px solid #141414;
        .svg {
          font-size: 1.5em;
          margin-right: 0.4em;
        }
        &:hover {
          background-color: #141414;
          color: #f2f2f2;
          border: 1px solid #f2f2f2;
        }
      }
      &.anonimous {
        background-color: transparent;
        color: #d9d9d9;
        border: 1px solid #d9d9d9;
        &:hover {
          color: #e50914;
          border: 1px solid #e50914;
        }
      }
    }
  }

  .content {
    @extend .content
  }


@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }