<app-navbar></app-navbar>
<h1 class="search-title">Search result for: {{ searchKeyword$ | async }}</h1>
<div class="container">
    <ng-container *ngIf="searchMovies$ | async as movies">
        <div class="swiper-slide poster" 
        *ngFor="let movie of movies"
        >
          <div class="movie__info">
            <div class="movie__info--btn-row">
              <button class="btn-play">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
              </button>
              <button class="btn-add">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
              </button>
              <!-- (click)="showDetailModal(movie)" -->
              <button class="btn-detail" >
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
              </button>
            </div>
            <div class="movie__info--title">
              <h1>{{ movie.name || movie.original_title || movie.original_name}}</h1>
            </div>
            <div class="movie__info--genres">
              <p *ngFor="let genre_id of movie.genre_ids">{{ catalogService.getGenreName(genre_id) }}</p>
            </div>
          </div>
          <img [src]="image + movie.backdrop_path" >
        </div>
    </ng-container>
</div>