.search-title{
    position: absolute;
    top: 100px;
    left: 30px;
}

  .container{
      min-height: 100vh;
      display: flex;
      row-gap: 30px;
      column-gap: 30px;
      flex-wrap: wrap;
      background-color: #141414;
      justify-content: center;
      width: 100%;
      padding: 150px 50px;
  }