<div class="content">   
  <div>
    <h2 class="content--title">Sign up</h2>
    <small class="content--disclaimer">
      Pay attention: this is not the original Netflix sign up. Don't insert your
      real credentials here!
    </small>
<form class="form" autocomplete="off">
    <div class="form--control">
      <input type="text" placeholder="Your name" />
    </div>
    <div class="form--control">
      <input type="email" placeholder="E-mail" />
    </div>
    <div class="form--control">
      <input type="password" placeholder="Password" />
    </div>
    <div class="form--control">
      <input type="password" placeholder="Repeat your password" />
    </div>
    <button class="form--button submit">Sign up</button>
  </form>
  <hr class="content__line" />
  <small class="content__signup--toggler">
    Do you already have an account?
    <span class="content__signup--toggler-btn" routerLink="/auth/login">Sign in</span>
  </small>
</div>
</div>