@import '../../../styles/shared/auth';

.content {
  @extend .content;
}

.form {
    &--control {
      margin: 1em 0;
      @extend .animation;
      input {
        @extend .input;
      }
      .error-message {
        animation: slideDown .3s ease-in-out;
        font-size: 14px;
        color: orange;
      }
    }
    &--button {
      @extend .btn;
      @extend .animation;
      
      &.submit {
        &:hover {
          background-color: #be0711;
          color: orange;
        }
      }
    }
  }

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}