<app-navbar></app-navbar>
<div class="container">
    <ng-container *ngIf="favMovies$ | async as movies; else noMovies">
        <p class="title">Your favourite movies: </p>
        <div class="movies_container">
          <app-movie-card  
          *ngFor="let movie of movies" 
          [movie]="movie"
          [inList]="true"
          >
          </app-movie-card>
        </div>
    </ng-container>
    <ng-template #noMovies>
        <p>No movies was found</p>
    </ng-template>
</div>
<app-dialog></app-dialog>