<div class="banner" [ngStyle]="{ backgroundImage: 'url(' + convertToUrl(image) + ')' }">
    <div class="banner__content">
      <h1 class="banner__content--title">{{ title }}</h1>
      <div class="banner__content--buttons">
        <a class="banner__content--buttons__button">
          <i class="fas fa-play"></i>
          Play
        </a>
        <a class="banner__content--buttons__button">
          <i class="fas fa-info-circle"></i>
          More info
        </a>
      </div>
      <p class="banner__content--description">
        {{ addDots(description) }}
        <!-- This Karate Kid sequel series picks up 30 years after the events of the
        1984 All Valley Karate Tournament and finds Johnny Lawrence on the hunt
        for r... -->
      </p>
    </div>
    <div class="banner__panel"></div>
    <div class="banner__shadow"></div>
  </div>