<nav class="navbar">
    <a class="navbar__logo">
      <img class="Navbar__logo" src="../../../assets/fakeflix-logo.png" alt="" />
    </a>
    <ul class="navbar__primary">
      <li>Home</li>
      <li>TV Series</li>
      <li>Movies</li>
      <li>New & Popular</li>
      <li>My list</li>
    </ul>
    <div class="navbar__secondary">
      <div class="navbar__secondary--item">
        <i class="fas fa-search"></i>
      </div>
      <div class="navbar__secondary--item">
        <div></div>
        <i class="fas fa-caret-down"></i>
      </div>
    </div>
  </nav>
  