<nav class="navbar">
    <a class="navbar__logo">
      <img class="Navbar__logo" src="../../../assets/fakeflix-logo.png" alt="" />
    </a>
    <ul class="navbar__primary">
      <li routerLinkActive="active" routerLink="/home"><span>Home</span></li>
      <li routerLinkActive="active" routerLink="/tv-series">TV Series</li>
      <li routerLinkActive="active" routerLink="/movies">Movies</li>
      <li routerLinkActive="active" routerLink="/new-popular">New & Popular</li>
      <li routerLinkActive="active" routerLink="/my-list">My list</li>
    </ul>
    <div class="navbar__secondary">
      <div class="navbar__secondary--item">
        <input type="text" [formControl]="search" class="search-bar" [ngClass]="{ active: isActive }">
        <i class="fas fa-search" (click)="isActive = !isActive"></i>
      </div>
      <div class="navbar__secondary--item">
        <!-- <p>{{ username }}</p> -->
        <div class="avatar" (click)="dropdownShown = !dropdownShown"></div>
        <i class="fas fa-caret-down" [ngClass]="{ rotate: dropdownShown }"></i>
        <div class="dropdown" *ngIf="dropdownShown"><p>Sign out</p></div>
      </div>
    </div>
  </nav>
  