<div class="background">
    <div class="background__opacity-layer"></div>
    <div class="background__image-layer"></div>
    <a class="background__logo">
        <img class="background__logo--image" src="../assets/fakeflix-logo.png">
    </a>
    <div class="content">
        <div>
          <h2 class="content--title">Sign in</h2>
          <small class="content--disclaimer">
            Pay attention: this is not the original Netflix sign in. Don't insert your
            real credentials here!
          </small>
          <router-outlet></router-outlet>
          <hr class="content__line" />
            <small class="content__signup--toggler">
              Haven't you registered yet?
              <span class="content__signup--toggler-btn">Sign Up</span>
            </small>
        </div>
      </div>
</div>