/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
    font-family: "Inter", sans-serif;
    color: #f2f2f2;
}

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

span.swiper-pagination-bullet{
    width: 12px;
    height: 4px;
    display: inline-block;
    margin: 0 0 0 2px !important;
    border-radius: 0;
    opacity: 1;
    background-color: #4d4d4d;
    transition: all 0.2s ease-in-out;
  }
span.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #aaa !important;
    height: 5px;
}
// :root {
//     --swiper-theme-color: red
//   }